---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout title="Backgrounds">
	<section class="color-container flex gap-3 justify-center">
		<label class="text-red-600" for="red">Rojo:</label>
		<input class="border rounded outline-none" type="number" id="red" min="0" max="255" value="255">
		
		<label class="text-green-600" for="green">Verde:</label>
		<input class="border rounded outline-none" type="number" id="green" min="0" max="255" value="255">
		
		<label class="text-blue-600" for="blue">Azul:</label>
		<input class="border rounded outline-none" type="number" id="blue" min="0" max="255" value="255">
	</section>
</AppLayout>

<script>
	const redInput = document.querySelector('#red');
	const greenInput = document.querySelector('#green');
	const blueInput = document.querySelector('#blue');
	const container = document.querySelector('.container');

	function cambiarColor() {
		const red = redInput.value;
		const green = greenInput.value;
		const blue = blueInput.value;
		container.style.backgroundColor = `rgb(${red},${green},${blue})`;
	}

	redInput.addEventListener('change', cambiarColor);
	greenInput.addEventListener('change', cambiarColor);
	blueInput.addEventListener('change', cambiarColor);
</script> 