<header class="p-4 bg-gray-600 text-white flex justify-between">
  <h1 class="text-3xl font-semibold">Retos</h1>
  <nav class="flex gap-4">
    <a href="/">Conversor</a>
    <a href="#">Login</a>
    <a href="#">Calculadora</a>
  </nav>
</header>