<header class="p-4 bg-gray-600 text-white flex justify-between">
  <a href="/" class="text-3xl font-semibold">Retos</a>
  <nav class="flex gap-4">
    <a href="/">Conversor</a>
    <a href="/login">Login</a>
    <a href="#">Calculadora</a>
  </nav>
</header>